<main class="container" *ngIf="droits" >

  <br>
  <table mat-table [dataSource]="assignments" class="mat-elevation-z8" style="padding-left: 10%">

    <ng-container matColumnDef="nom">
      <th mat-header-cell *matHeaderCellDef> Nom</th>
      <td mat-cell *matCellDef="let assignment"> {{assignment.nom}} </td>
    </ng-container>

    <ng-container matColumnDef="rendu">
      <th mat-header-cell *matHeaderCellDef> Rendu</th>
      <td mat-cell *matCellDef="let assignment"> {{assignment.rendu}} </td>
    </ng-container>

    <ng-container matColumnDef="dateDeRendu">
      <th mat-header-cell *matHeaderCellDef> Date de rendu</th>
      <td mat-cell *matCellDef="let assignment"> {{assignment.dateDeRendu | date}} </td>
    </ng-container>

    <ng-container matColumnDef="auteur">
      <th mat-header-cell *matHeaderCellDef> Auteur</th>
      <td mat-cell *matCellDef="let assignment"> {{assignment.auteur}} </td>
    </ng-container>

    <ng-container matColumnDef="matiere">
      <th mat-header-cell *matHeaderCellDef> Matiere</th>
      <td mat-cell *matCellDef="let assignment"> {{assignment.matiere}} </td>
    </ng-container>

    <ng-container matColumnDef="note">
      <th mat-header-cell *matHeaderCellDef> Note</th>
      <td mat-cell *matCellDef="let assignment"> {{assignment.note}} </td>
    </ng-container>

    <ng-container matColumnDef="remarques">
      <th mat-header-cell *matHeaderCellDef> Remarques</th>
      <td mat-cell *matCellDef="let assignment"> {{assignment.remarques}} </td>
    </ng-container>
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef hidden> Actions</th>

      <button mat-icon-button *matCellDef="let assignment" (click)="onDeleteRendu(assignment.id)">
        <mat-icon>delete</mat-icon>
      </button>
    </ng-container>

    <ng-container matColumnDef="actions2">
      <th mat-header-cell *matHeaderCellDef hidden> Actions</th>
      <button mat-icon-button *matCellDef="let assignment" routerLink="/assignment/{{assignment.id}}/edit">
        <mat-icon>edit</mat-icon>
      </button>
    </ng-container>
    <ng-container matColumnDef="actions3">
      <th mat-header-cell *matHeaderCellDef hidden> Actions</th>
      <button mat-icon-button *matCellDef="let assignment" routerLink="/assignment/{{assignment.id}}">
        <mat-icon>remove_red_eye</mat-icon>
      </button>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayColumn()"></tr>
    <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
  </table>


  <mat-paginator [length]="totalDocs" [pageSize]="limit" (page)="paginatorUpdate($event)" style="padding-right: 12%"></mat-paginator>
</main>

