<div >
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <button mat-button (click)="opened=!opened">
        <mat-icon>menu</mat-icon>
      </button>
      <h1>
        <a routerLink="/home">{{title}}</a>
      </h1>
      <div *ngIf="!showDiv">
        <form>
          <a mat-button color="primary" (click)="openDialog()">Connexion</a>
        </form>

      </div>
      <div *ngIf="showDiv">
        <form>
          <a mat-button color="primary" (click)="logout()">Déconnexion</a>
        </form>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-sidenav-container>
    <mat-sidenav [(opened)]="opened" mode="side" >
      <mat-list>
        <mat-list-item>
          <p>{{utilisateur.toUpperCase()}}</p>
        </mat-list-item>
        <mat-list-item>
          <a mat-button color="primary" routerLink="/home">Liste des devoirs</a>
        </mat-list-item>
        <mat-list-item *ngIf="droits">
          <a mat-button color="primary" routerLink="/add" >Ajouter un devoir</a>
        </mat-list-item>
        <mat-list-item *ngIf="droits && utilisateur != 'admin' && utilisateur != 'user'">
          <a mat-button color="primary" routerLink="/correction" matBadge="{{nbCopies}}" matBadgePosition="above after" matBadgeColor="accent">Mes devoirs a corriger

          </a>
        </mat-list-item>
        <mat-list-item *ngIf="droits">
          <a mat-button (click)="initialiserlabase()" color="primary">Générer des données de test</a>
        </mat-list-item>

      </mat-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>



