body {
  margin: 0;
}

mat-sidenav-container {
  height: calc(205vh - 115vh);
}

mat-sidenav {
  display: flex;
  width: 250px;
  background-color: #eee;
  text-align: center;
}

mat-sidenav .mat-button {
  width: 200px;
}

mat-sidenav a {
  font-size: 16px;
  text-decoration: none;
}

mat-toolbar-row {
  display: flex;
  justify-content: space-between;
}

mat-toolbar-row a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

#btnNotif {
  background-color: red; /* couleur de fond rouge */
  border-radius: 100%; /* bord arrondi */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); /* surélévation */
}

#connexion {
  background-color: #eee;
  opacity: 0.5;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
